<h1>Restaurant App</h1>
<h2>{{username}} invites you to collaborate to this collection</h2>
<p>
    Collection Name: {{collectionName}}
</p>
<p>
    Please go to the following url <br>
    <a href="{{collectionUrl}}"><button>Go to Collection</button></a>
</p>
<p>
    If you haven't created any account, please create an account with this invited email. <br>
    You will automatically be added as collaborator.
</p>



